#              _                           _      
#             | |                         (_)     
#     ___ ___ | | ___  _ __ ____ _ __ ___  ___  __
#    / __/ _ \| |/ _ \| '__|____| '_ ` _ \| \ \/ /
#   | (_| (_) | | (_) | |       | | | | | | |>  < 
#    \___\___/|_|\___/|_|       |_| |_| |_|_/_/\_\
#   
#   
#   ------------------------------------------------
#     by Greg Leuch
#     http://www.gleuch.com/projects/color-mix
#   ------------------------------------------------


RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?folder=$1 [L,QSA]